!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title VoicesAndVoting
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row
        .col-xs-3
          = link_to image_tag( 'logo.png', size: "200x200", class: 'img-responsive'), '/'
        .col-xs-9
          = image_tag('voicesvoting.png', size: "600x200", class: 'img-responsive')      
    .container
      = yield
